.cont-print{
    text-align: center;
    margin: auto;
    display: block;
}

.cont-princ-slider {
    height: 100px;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

.slier-prin {
    display: inline-flex;
    -moz-animation: slider 10s infinite linear;
    -webkit-animation: slider 10s infinite linear;
    animation: slider 10s infinite linear;
    height: 100%;
    width: 80%;
}

.juegos_DWG {
    background: #CCC;
    /* border: 1px solid #FFF; */
    color: #FFF;
    /* font-family: Arial; */
    /* font-size: 16px; */
    line-height: 100px;
    height: 100%;
    flex: 0 0 auto;
    text-align: center;
    width: 250px;
}

@keyframes slider {
    to {
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}