{% extends 'bases/base.html' %}

{% load static %}

{% block btn_carrito%}
<li class="nav-item ">
  <a class="nav-link cl-white" aria-current="page" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight"><i class="fa-solid fa-cart-shopping fa-xl"></i></a>
</li>

{% endblock %}


{% block page_content %}


<a class="btn-whatsapp" href="https://wa.me/59173609014?text=Me%20interesa%20Mallon.com.bo" target="_blank"> <i
    class="fa-brands fa-whatsapp"></i> </a>

<div class=" row container-fluid">
  <div class="py-2">

  </div>
</div>

<div class="container">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'web/img/calamina_tradicional.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Titulo del producto</h5>
          <p>Descripcion del producto</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'web/img/calamina_blanca.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Titulo del producto</h5>
          <p>Descripcion del producto</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'web/img/calamina_plastica.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Titulo del producto</h5>
          <p>Descripcion del producto</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>

<!-- Inicio Espacio en blanco -->
<div class=" row container-fluid">
  <div class="py-5">

  </div>
</div>

<!-- fin Espacio en blanco -->


<div class="container">




  <!-- <div class="d-flex justify-content-center align-items-center"> -->
  <div class=" row row-cols-1 row-cols-md-3 g-4  align-items-center">



    {% for item in obj %}

    <div class="col " data-aos="zoom-in-down">
      <div class="card p-3 mx-1 hover-prod">
        <div class="card-img-top">
          <img src="/{{item.img}}" width="100%">
        </div>
        <div class="d-flex justify-content-between align-items-center ">
          <div class="mt-2">
            <h4 class="text-uppercase">{{item.nombre}}</h4>

          </div>

        </div>

        <p>{{item.descripcion}}</p>
        <p>{{item.precio}}</p>

        <div class="text-end m-2" style="font-size: .7em;">
          <a href="{% url 'tienda:producto_id' item.pk %}">Ver producto</a>
        </div>

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">

          <!-- <button type="button" class="btn btn-warning">Comprar</button> -->
          <button type="button" class="btn btn-success">Cotizar</button>
          <a href="{% url 'ecommerce:Add' item.id %}" class="btn btn-warning">Comprar</a>
        </div>
      </div>
    </div>

    {% endfor%}

  </div>
</div>
<!-- fin de tienda  -->

<!-- fin Carrito -->



<!-- Inicio Espacio en blanco -->
<div class=" row container-fluid">
  <div class="py-5">

  </div>
</div>


<!-- Panel derecho CArrito  -->
<div {% if request.session.carrito.items %} class="offcanvas offcanvas-end show" {% else %}
  class="offcanvas offcanvas-end " {% endif %} tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-center" id="offcanvasRightLabel">CARRITO DE COMPRA</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column ">
    <div class="">
      <form method="POST" enctype="multipart/form-data"></form>
      {% csrf_token %}
      <div class="d-flex align-items-start">

        <table class="table table-striped table-borderless">
          <thead>

            <tr>
              <!-- <th></th> -->
              <th scope="col">NOMBRE</th>
              <th scope="col">PRECIO</th>
              <th scope="col">CANTIDAD</th>
              <th scope="col">U.M.</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
            <tr>
              <!-- <td><input name="a_id[]" type="text" class="form-control form-control-sm" value="{{value.producto_id}}"
                  readonly="false"></td> -->
              <td>{{value.nombre}}</td>
              <td>{{value.precio}}</td>
              <td> <input name="a_cantidad[]" type="text" class="form-control form-control-sm"
                  value="{{value.cantidad}}" readonly="false"> </td>
                  <td>
                    {{value.unidad_medida}}
                  </td>
              <td>

                <a href="{% url 'ecommerce:Add' value.producto_id %}" class="badge btn btn-dark badge-dark"><i
                    class="fas fa-plus"></i></a>
                <a href="{% url 'ecommerce:Sub' value.producto_id %}" class="badge btn btn-dark badge-dark"><i
                    class="fas fa-minus"></i></a>
              </td>


            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="3">
                <div class="alert alert-danger text-center"> Sin Productos </div>
              </td>
            </tr>
            {% endif %}

          </tbody>
        </table>


      </div>


      <div class=" row container-fluid align-self-center">
        <div class="py-5">

        </div>
      </div>


      <div class=" d-flex align-items-end  flex-column ">
        <div>

          <th scope="row">Total:</th>
          <td colspan="2"> {{total_carrito}} Bs.</td>

        </div>

        <div class="btn-toolbar mt-2" role="toolbar">


          <a href="{% url 'tienda:cotizacion_new'  %}" class="btn btn-outline-primary me-md-2">Cotizar PDF.</a>

          <a href="{% url 'ecommerce:CLS' %}" class="btn btn-outline-danger me-md-2">Limpiar</a>
          <a href="{% url 'tienda:cliente_new' %}" class="btn btn-outline-success me-md-2">Guardar</a>
          <!-- <button class="btn btn-success" type="submit">Guardar</button> -->



        </div>


      </div>
      </form>
    </div>

    <!-- fin carrito -->
  </div>
</div>



{% endblock %}